{% extends 'base.html' %}


{% block title %}
Главная страница
{% endblock title %}


{% block body %}
<div class="container">
<h1 class="display-5 fw-bold">Вычисление расстояния от указанной точки до нулевой точки МКАДа</h1>
<div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Данный сервис высчитывает расстояние от указанной точки до нулевой точни МКАДа учитывая неровность Земли.
      Используется формула Гаверсинуса.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/create-article" class="btn btn-warning">Переход к рассчету</a>
          <a href="/posts" class="btn btn-warning">История расчетов</a>
      </div>
    </div>
</div>
{% endblock body %}